POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=sanctuary

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/sanctuary"

BETTER_AUTH_URL=http://localhost:3000
# Generate with: pnpm dlx @better-auth/cli secret
BETTER_AUTH_SECRET=

AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_REGION=
AWS_BUCKET=

VITE_APP_URL=http://localhost:3000
