POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

DATABASE_URL=

BETTER_AUTH_URL=
# Generate with: pnpm dlx @better-auth/cli secret
BETTER_AUTH_SECRET=

AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_REGION=
AWS_BUCKET=

VITE_APP_URL=
